# Dependencies
node_modules/

# Local databases & fallbacks
db_fallback.json

# Environment Secrets (Passwords & API Keys)
.env
.env.local

# Local User Uploads (excluding gitkeep if present)
public/uploads/*
!public/uploads/.gitkeep

# System & OS Files
.DS_Store
Thumbs.db
*.log
